header.main-header
	.main-header__bg
	.main-header__wrap
		a.logo.main-header__logo(href="#")
			img(src="img/logo_mini.png" alt="Логотип")
			img(src="img/logo-text.png" alt="PROСтейк")
		nav.main-nav
			ul.main-nav__list
				li.main-nav__item
					a.main-nav__link(href="productions.html") Производство
				li.main-nav__item
					a.main-nav__link(href="product.html") Продукция
				li.main-nav__item
					a.main-nav__link(href="cooperation.html") Сотрудничество
				li.main-nav__item
					a.main-nav__link(href="about.html") О PROстейк
				li.main-nav__item
					a.main-nav__link(href="contacts.html") Контакты
				li.main-nav__item
					a.main-nav__link(href="blog.html") Блог
				li.main-nav__item
					a.main-nav__link(href="#") 8 (931) 237-02-81
		.hamburger
			.hamburger__wrap
				span
				span
				span