.cc-window
	.cc-window__wrapper
		.cc-window__text Этот сайт использует файлы cookies для более комфортной работы пользователя. Продолжая просмотр страниц сайта, вы соглашаетесь с использованием  файлов cookies. В противном случае вы можете покинуть сайт.
		.cc-window__close
			span.cc-window__close_btn