section.main-cooperation
	+sectionHeader('Сотрудничество', 'Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой его пунктуация строчка своих речью текста великий переписывается пустился.')