section.main-cooperation
	+sectionHeader('Сотрудничество', 'Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой его пунктуация строчка своих речью текста великий переписывается пустился.')
	.container.main-cooperation__wrap
		.main-cooperation-item
			p.main-cooperation-item__title Прямое сотрудничество
			p.main-cooperation-item__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заголовок языкового гор безопасную, буквоград большой свою до агенство.
			.main-cooperation-item__content
				.main-cooperation-item__row <span>01</span>Далеко-далеко за словесными горами в стране, гласных.
				.main-cooperation-item__row <span>02</span>Далеко-далеко за словесными.
				.main-cooperation-item__row <span>03</span>Далеко-далеко за словесными горами.
				.main-cooperation-item__row <span>04</span>Далеко-далеко за словесными горами в стране.
				.main-cooperation-item__row <span>05</span>Далеко-далеко за словесными.
				.main-cooperation-item__row <span>06</span>Далеко-далеко за словесными горами в стране, гласных.
			.btn__wrap.main-cooperation-item__btn-wrap
				.btn Узнать больше
		.main-cooperation-item
			p.main-cooperation-item__title Дистрибьюция
			p.main-cooperation-item__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заголовок языкового гор безопасную, буквоград большой свою до агенство.
			.main-cooperation-item__content
				.main-cooperation-item__row <span>01</span>Далеко-далеко за словесными горами в стране, гласных.
				.main-cooperation-item__row <span>02</span>Далеко-далеко за словесными.
				.main-cooperation-item__row <span>03</span>Далеко-далеко за словесными горами.
				.main-cooperation-item__row <span>04</span>Далеко-далеко за словесными горами в стране.
				.main-cooperation-item__row <span>05</span>Далеко-далеко за словесными.
				.main-cooperation-item__row <span>06</span>Далеко-далеко за словесными горами в стране, гласных.
			.btn__wrap.main-cooperation-item__btn-wrap
				.btn Узнать больше
					